* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  max-width: 1200px;     /* katta ekranda tarqalmasin */
  padding: 20px 24px;

  display: flex;
  align-items: center;
}

/* chap */
.logo {
  flex: 1;
  font-size: 22px;
  font-weight: bold;
}

/* o‘rta */
.menu {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style: none;
}

/* o‘ng */
.icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}


.hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SHAPE (overlay) */

.div-shape {
  position: absolute;
  background-color: white;
  width: 540px;
height: 390px;
opacity: 80%;
display: flex;
padding-top: 20px;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 120px;
align-items: center;
padding-left: 25px;
  
position: absolute;
  inset: 0;


  
  
}
.div-shape h1 {
  color: #2F2E2E;
font-family: "Playfair Display";
font-size: 47px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.div-shape p {
  color: #2F2E2E;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 200;
line-height: normal;

}

.Services-txt {
  color: #2F2E2E;
text-align: center;
font-family: "Playfair Display";
font-size: 51px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.overlay p {
  font-size: 18px;
  letter-spacing: 1px;
}
